# Created by .ignore support plugin (hsz.mobi)
.idea/
target/
out/
src/main/resources/log4j.properties
JSTL/JSTL.iml
JSTL/target/classes/
JSTL/target/generated-sources/
JSTL/target/maven-archiver/
JSTL/target/maven-status/